<mat-toolbar color="primary">
  <span>Acme Product Management</span>
  <span class="menu-spacer"></span>
  <span class="nav-item-spacer"><a class="nav-item" routerLink="home">Home</a></span>
  <span class="nav-item-spacer"><a class="nav-item" routerLink="productList">ProductList</a></span>
  <span class="nav-item-spacer"><a class="nav-item" routerLink="productDetail">Product Detail</a></span>
  <span class="nav-item-spacer"><a class="nav-item" routerLink="star">Star</a></span>
</mat-toolbar>
<section class="container" style="border: 1px solid black">
  <router-outlet></router-outlet> 
</section>